*.bak
*.rpt
*.done
*.summary
*.pin
*.pof
*.sof
*.jdi
vhdl/altera/greybox_tmp/
quartus/.qsys_edit/
quartus/*tmp*
vhdl/*tmp*
quartus/db/
quartus/output_files/
quartus/simulation/
quartus/incremental_db/
*.smsg
*.qdf
*.bin
*.qip
*.cdf
*.dpf
*.qsf
*.ddb
*.cmp
*.pro.user
*.o
Makefile
imgpacker
